.forecast {
  text-align: center;
  background-color: #1e213a;
  width: 12rem;
  padding: 0.5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .forecast {
    width: 15rem;
  }
}
@media (min-width: 900px) {
  .forecast {
    width: 12rem;
  }
}
.date {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.878rem;
  margin-top: 1.8rem;
}
.forecast div {
  display: grid;
  place-items: center;
  margin-top: 1rem;
  margin-bottom: 3.1rem;
}
.forecast div img {
  width: 6.6rem;
  height: 6.2rem;
  object-fit: contain;
}
.temps {
  margin-bottom: 2rem;
  padding: 0;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.878rem;
  display: flex;
  justify-content: space-around;
}
.temp {
  color: #e7e7eb;
}
.feels-like {
  color: #a09fb1;
}
