.Aside {
  background-color: var(--light-blue);
  text-align: center;
}

.Aside div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 1.1rem;
}

.Aside div:nth-child(1) input {
  background-color: var(--bg-gray);
  color: var(--white);
  width: 16.1rem;
  border: none;
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  padding-left: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.878rem;
}
.Aside div:nth-child(1) input::placeholder {
  color: inherit;
}
.Aside div:nth-child(1) .geo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--bg-gray);
}

.cloud-with-bg {
  outline: 1px solid red;
  /* background: url(../../assets/Cloud-background.png); */
  background-size: 100%;
  /* Using rhese margins to fit the pixels since the bg-img doesnt seem right */
  margin-top: 7.6rem;
  margin-bottom: 4rem;
}
.cloud-with-bg div {
  outline: 1px solid red;
  width: 15rem;
  height: 17.4rem;
  object-fit: contain;
  margin: 0 auto;
}
.temperature-div {
  margin-bottom: 2.3rem;
}
.temperature {
  color: #e7e7eb;
  font-size: 14.4rem;
  line-height: 16.906rem;
}
.temperature-unit {
  color: #a09fb1;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 5.635rem;
}
.temperature-unit span {
  font-weight: 100;
  font-size: 4.8rem;
  line-height: 5.635rem;
}
.weather-condition-div {
  margin-bottom: 4.8rem;
}
.weather-condition-div p {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.226rem;
  color: #a09fb1;
}
.date {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
  color: #88869d;
}
.location-div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.9rem;
  color: #88869d;
  margin-top: 3.3rem;
  padding-bottom: 10.5rem;
}
.location-icon {
  width: 1.4rem;
  height: 1.9rem;
}
.location-div p {
  line-height: 2.113rem;
  font-weight: 600;
  font-size: 1.8rem;
}
