.main {
  background-color: #100e1d;
  color: #fff;
}
.units-div {
  display: none;
}
.forecasts-div {
  outline: 1px solid red;
  padding: 5.2rem 5.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem 2.6rem;
}
