.main {
  background-color: #100e1d;
  color: #fff;
  height: 158.1rem;
}
.units-section {
  display: none;
}
.forecasts-section {
  /* outline: 1px solid red; */
  padding: 5.2rem 5.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem 2.6rem;
}
.highlights-section {
  padding: 0 2.3rem;
  /* outline: 1px solid red; */
}
.highlights-section > p {
  line-height: 2.818rem;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.highlights-section > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem 0;
}
footer {
  background-color: #100e1d;
  /* outline: 1px solid red; */
  padding-top: 9.6rem;
  padding-bottom: 2.4rem;
  display: grid;
  place-items: center;
}
footer p {
  color: #a09fb1;
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.707rem;
}
footer p a {
  color: inherit;
  font-weight: 700;
}
